<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Django App</title>
</head>

<body>
  <header>
    <nav>
      <h1>My Django App</h1>
      {% block language_switcher %}
      <form method="post" action="{% url 'set_language' %}">
        {% csrf_token %}
        <label for="language-select">Choose your language:</label>
        <select id="language-select" name="language">
          <option value="en">English</option>
          <option value="lv">Latvian</option>
        </select>
        <button type="submit">Switch</button>
      </form>
      {% endblock %}
    </nav>
  </header>
  <main>
    {% block content %}
    <p>{{ message }}</p>
    {% endblock %}
  </main>
</body>

</html>
